body {
	display: block;
	height: 100vh;
	width: 100vw;
}

.purple {
	height: 70%;
	width: 100%;
	background-color: #9C5BDF;
}

.blue {
	height: 30%;
	width: 100%;
	display: flex;
	background-color: #338EFF;
}

.pink {
	height: 25%;
	width: 100%;
	display: flex;
	background-color: #ed9ae3;
}

.orange {
	width: 50%;
	height:100%;
	background-color: #d87f0a;
}

.brown {
	height: 100%;
	width: calc(50%/3);
	background-color: #513f3f;
}

.black {
	width: calc(100%/6);
	height: 100%;
	background-color: #131314;
}
